@model IEnumerable<Gert.Model.DataBase.Model.TarefaAluno>

@Html.Partial("_ScriptsAndStyles")

<h2>Tarefas</h2>
<hr />

<table class="table table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayName("Disciplina")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarefa.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarefa.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarefa.DtInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarefa.DtFinal)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tarefa.Disciplina.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarefa.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarefa.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarefa.DtInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarefa.DtFinal)
        </td>                
    </tr>
}

</table>
